table.activity {
    background-color: #f4f4f4;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width:40%;
}
.right {
    text-align: right;
}
div.features {
    width:auto;
    height: auto;
    text-align: center;
}
button.cta {
    color:black;
    border-radius: 5px;
    border: none;
}
div.headingwelcome {
    padding: 60px;
}
div.headingwelcome:hover {
    background-color: rgba(137,155,117, 5%);
}
div.headingabout {
    padding: 70px;
    text-align: right;
}

div.headingabout:hover {
    background-color: rgba(137,155,117, 5%);
}
