table.activity {
    background-color: white;
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:#6f7e59;
}

table.activity td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.right {
    text-align: right;
}
div.features {
    width:auto;
    height: auto;
    text-align: center;
}
div.features:hover, div.headingwelcome:hover,div.headingabout:hover {
    background-color: rgba(137,155,117, 5%);
}

div.headingwelcome {
    padding: 40px;
}

div.headingabout {
    padding: 70px;
}

div.headingwelcome h2 {
    font-size: 36px;
}

div.headingabout h3, .features h3 {
    font-size: 28px;
}

div.headingabout p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.features p {
    margin-bottom: 8px;
}
div.cta {
    padding: 20px;
}