
div.reportcontent {
    width:auto;
    height: auto;
    text-align: center;
    padding: 50px;
}
h3 {
    font-weight: bold;
}
.reportcontent p {
    margin-bottom: 8px;
}
div.reportcontent a{
    color: black;
}
div#fifth a{
    color: black;
}
div#third img, #second img {
    width:40%;
    height:50%;
}
div#first, #second, #third, #forth, #fifth {
    padding:60px;
}
div.reportcontent a{
    color:#6f7e59;
}
div#first p, div#third p, div#forth p{
    text-align: justify;
}
div#fifth {
    background-color: rgba(111, 126, 89,30%);
    width:40%;
    height:50%;
    border-radius: 4px;
    margin: auto;
    padding-bottom: 40px;
}
div.end {
    padding: 40px;
}
div#third img.github {
    width:10%;
    height: 10%;
}
div#first a {
    color:#6f7e59;
}
div#first:hover, div#second:hover, div#third:hover, div#forth:hover {
    background-color: rgba(137,155,117, 10%);
}