
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(137,155,117, 15%);
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    line-height: 1.6;
}
div.menu {
    background-color:rgba(137, 155, 117, 60%);
    font-family: copperplate, fantasy;
    padding: 10px 0;
}

.navbar-brand, .navbar-nav .nav-link {
    color: beige;
    padding: 14px 20px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    font-size: 20px;
}
 .navbar-nav .nav-link:hover{
    color:#222;
}
a {
    color: beige;
}
a:hover {
    color: black;
    cursor: pointer;
}
footer {
    background-color:rgba(137, 155, 117, 55%);
    font-family: copperplate, fantasy;
    padding: 10px 0;
    font-size: 14px;
}
.dark{
    background-color: #222;
    color: #e6e6e6;
}
button {
    background-color: #899b75;
    color: beige;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #6f7e59;
}
form { 
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:#6f7e59;
}
label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color:#6f7e59;
}
select, input[type="text"], input[type="date"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
button.toggle {
    background-color: rgba(137, 155, 117, 45%);
    border:none;
    padding:5px 10px;
}
button.toggle:hover {
    border:1px solid beige;
    cursor: pointer;
}
section {
    padding: 40px 20px;
}