
div.manage {
    padding:25px;
}
form.addtask h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

form.addtask input[type="text"],
form.addtask textarea,
form.addtask input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-sizing: border-box;
}

form.addtask button {
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    cursor: pointer;
}
table.taskstb {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:#6f7e59;
}

table.taskstb th, 
table.taskstb td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

table.taskstb th {
    background-color: #899b75;
    color: beige;
    font-weight: bold;
}

table.taskstb td {
    background-color: #f4f4f4;
}

table.taskstb tr:hover td {
    background-color: rgba(137, 155, 117, 20%);
}
form.filter-section {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    padding-right: 10px;
}

form.filter-section label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

form.filter-section select {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 16px;
}

button.complete-btn, button.edit-btn, button.delete-btn {
    padding: 8px 12px;
}
