
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
}
div.menu {
    background-color:#899b75;
    font-family: copperplate, fantasy;
    color:beige;
}
a {
    color: beige;
}
a:hover {
    color: black;
    cursor: pointer;
}

footer {
    background-color:  #899b75;
    font-family: copperplate, fantasy;
}
.dark{
    background-color: #222;
    color: #e6e6e6;
}

table.activity {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width:40%;
}

.right {
    text-align: right;
}
button {
    background-color: white;
    color:#899b75;
    border-radius: 3pt;
    padding: auto;
    border: 2px solid #899b75;
    width: auto;
    height: auto;
    cursor: pointer;
}
button:hover{
    color: black;
    background-color: #899b75;
}
form.addtask { 
    background-color: white;
    padding: 20px;
    margin: auto;
    max-width: 500px;
    border-radius: 4px;
}
label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}
select, input[type="text"], input[type="date"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
#add-task {
    width: 15%;
    height: 5%;
}
table.taskstb {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    width:70%;
}
div.features {
    background-color: rgba(137,155,117, 50%);
    border-radius: 5px;
    border: 1px solid;
    width:auto;
    height: auto;
    text-align: center;
}
button.toggle {
    background-color: #899b75;
}
button.toggle:hover {
    border:1px solid;
}